body {
  background-color: rgb(255, 255,255);
}
#cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  /* height: 100vh; */
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
}
.title {
  width: 50%;
  margin: 3% auto;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 5%;
  }

  .image {
    width: 100%;
  }
}
